*/settings/local.py
*.py[co]
*.sw[po]
*.egg*
.coverage
pip-log.txt
docs/_gh-pages
build.py
build
.DS_Store
.noseids
tmp/*
*.swp
*~
*.mo
*.log
*.db
db/
test_db/
.vagrant
*.sublime-project
*.sublime-workspace
media/*
static/*
pcbizdb_dump.py
_deleted/*
media/*
static/*
node_modules/
sandbox_test.py
base/static/js/bundle.js
base/static/js/libs.min.js
base/static/css/main.css
initial_auth.json
0001_initial.py
0002_auto_20160503_1346.py
0002_auto_20160512_1329.py
base/migrations/0005_merge.py
base/migrations/0006_auto_20160619_1117.py
