{% extends "_layouts/base.html" %}

{% block page_class %}po-form-home-page{% endblock %}

{% block inner_content %}
  <div class="container">
  	<div class="farewell">
  		<img src="{{STATIC_URL}}/img/cor_icon.png" style="width:96px;height:120px;"></img>
      	<p>Thank you.</p>
        <p>What you saw and heard and recorded today will help future deliberative gatherings be more inclusive.</p> 
      	<p>The learnings may be shared with the Stated Clerk, the Committee on the Office of the General Assembly and leadership teams being trained for future General Assemblies.</p> 
      	<p>Thank you for contributing to the new knowledge we have measuring participation.  Thank you for taking time to help make our meetings better.</p>
        <p>POWA is a new tool and this is its first General Assembly.  We cannot share reports with you at this time.  If you want to give feedback about the application - <a href="https://www.surveymonkey.com/r/X77ZFPF">Fill out this survey</a></p>
      	<img src="{{STATIC_URL}}img/logologin.png"></img>
    </div>
  </div>
{% endblock %}
